{% load static %}
<footer class="page-footer">
    <div class="page-footer__top">
      <div class="uk-container">
        <div
          class="uk-grid uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@s"
          data-uk-grid
        >
          <div>
            <div class="uk-margin-medium">
              <div class="logo">
                <a class="logo__link" href="index.html">
                  <div class="logo__icon">
                    <img src="{% static 'img/hero-logo.svg' %}" alt="Atishay" />
                  </div>
                  <div class="logo__text">ATISHAY AUTOMOBILES</div>
                </a>
              </div>
            </div>
            <div class="uk-margin-medium">
              <p>
                National Highway 26, Near Police Thana Malthone, Distt. Sagar(M.P)-470441
              </p>
            </div>
            <div class="uk-margin-medium">
              <div class="support">
                <a class="support__link" href="tel:13004905008">
                  <div class="support__icon">
                    <i class="fas fa-headset"></i>
                  </div>
                  <div class="support__desc">
                    <div class="support__label">Talk with our support</div>
                    <div class="support__phone">+91 94256 27274</div>
                    <div class="support__phone">+91 83054 90054</div>
                    <div class="support__phone">+91 70003 54727</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="uk-margin-medium">
              <div class="social">
                <ul class="social-list">
                  <li class="social-list__item">
                    <a class="social-list__link" href="#!"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li class="social-list__item">
                    <a class="social-list__link" href="#!"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="social-list__item">
                    <a class="social-list__link" href="#!"
                      ><i class="fab fa-google-plus-g"></i
                    ></a>
                  </li>
                  <li class="social-list__item">
                    <a class="social-list__link" href="#!"
                      ><i class="fab fa-youtube"></i
                    ></a>
                  </li>
                  <li class="social-list__item">
                    <a class="social-list__link" href="#!"
                      ><i class="fab fa-pinterest-p"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div class="page-footer__column page-footer__menu">
              <div class="uk-h4">About Atishay</div>
              <ul class="list-decor">
                <li><a href="typography.html">Our Company</a></li>
                <li><a href="typography.html">Renting Facility</a></li>
                <li><a href="typography.html">Atishay Inventory</a></li>
                <li><a href="typography.html">Our Services</a></li>
                <li><a href="typography.html">Clients Testimonials</a></li>
                <li><a href="typography.html">Mission & Vision</a></li>
                <li><a href="page-contacts.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div>
            <div class="page-footer__column page-footer__info">
              <div class="uk-h4">Dealer Information</div>
              <ul class="info-list">
                <li>
                  <div class="info-list-item">
                    <div class="info-list-item__title">Sales Hours</div>
                    <div class="info-list-item__value">
                      Monday - Friday: <br />
                      09:00 am to 06:00 pm
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-list-item">
                    <div class="info-list-item__title">Service Hours</div>
                    <div class="info-list-item__value">
                      Monday - Friday: <br />
                      09:00 am to 06:00 pm
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-list-item">
                    <div class="info-list-item__title">Parts Shop Hours</div>
                    <div class="info-list-item__value">
                      Monday - Friday: <br />
                      09:00 am to 06:00 pm
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-footer__bottom">
      <div class="uk-container">
        <div class="uk-text-center">
          (c) 2023  SATYAJIT GIRAM - Motorcycles Dealer Template. All rights reserved.
        </div>
      </div>
    </div>
    <div
      id="offcanvas"
      data-uk-offcanvas="flip: true; overlay: true; mode: push"
    >
      <div class="uk-offcanvas-bar">
        <button
          class="uk-offcanvas-close"
          type="button"
          data-uk-close=""
        ></button>
        <div class="uk-margin">
          <div class="logo">
            <a class="logo__link" href="index.html">
              <div class="logo__icon">
                <img src="{% static 'img/hero-logo.svg' %}" alt="Atishay" />
              </div>
              <div class="logo__text">ATISHAY AUTOMOBILES</div>
            </a>
          </div>
        </div>
        <div class="uk-margin">
          <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
            <li><a href={% url 'home' %}>Home</a></li>
            <li><a href={% url 'about-us' %}>About</a></li>
            <li><a href={% url 'shop' %}>Products</a></li>
            <li><a href={% url 'contact' %}>Contact</a></li>
          </ul>
        </div>
        <div class="uk-margin-auto-top">
          <div class="support">
            <a class="support__link" href="tel:13004905008">
              <div class="support__icon"><i class="fas fa-headset"></i></div>
              <div class="support__desc">
                <div class="support__label">Talk with our support</div>
                <div class="support__phone">+91 9425627274</div>
                <div class="support__phone">+91 8305490054</div>
                <div class="support__phone">+91 7000354727</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-modal-full uk-modal" id="modal-search" data-uk-modal>
      <div
        class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle"
        data-uk-height-viewport
      >
        <button
          class="uk-modal-close-full"
          type="button"
          data-uk-close
        ></button>
        <form class="uk-search uk-search-large">
          <input
            class="uk-search-input uk-text-center"
            type="search"
            placeholder="Search..."
            autofocus
          />
        </form>
      </div>
    </div>
  </footer>