{%  extends 'base.html' %}

{% load static %}
  {% block content %}


    <main class="page-main">
      <div class="section-hero">
        <div class="section-hero__bg" style="background-image: url({% static 'img/bg/product.jpg' %})">
          <div class="uk-container">
            <div class="section-hero__content">
              <div class="section-hero__title">
                <div class="uk-h1">BMW motorcycle</div>
              </div>
              <div class="section-hero__breadcrumb">
                <ul class="uk-breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="page-shop-grid.html">Inventory</a></li>
                  <li> <span>BMW S1000 RR</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content">
        <div class="uk-section-large uk-container">
          <div class="page-product">
            <div class="uk-grid uk-flex-middle" data-uk-grid>
              <div class="uk-width-2-3@m">
                <div class="page-product__title">
                  <div class="uk-h1">2021 BMW S1000 RR</div><span>Always Pushing To Full Limits For A Great Riding Experience!</span>
                </div>
              </div>
              <div class="uk-width-1-3@m">
                <div class="page-product__price">
                  <div><span class="current">$6,200</span><span class="old">MSRP: $7,800</span></div>
                  <div class="uk-margin-small-top"><span>Included Taxes & Checkup*</span></div>
                </div>
              </div>
            </div>
            <div class="uk-grid" data-uk-grid>
              <div class="uk-width-2-3@m">
                <div class="page-product__btns"><button class="danger" type="button"><i class="fas fa-star"></i><span>Save to fav</span></button><button class="secondary" type="button"><i class="fas fa-columns"></i><span>Add to compare</span></button><button type="button"><i class="fas fa-motorcycle"></i><span>schedule test drive</span></button><button type="button"><i class="fas fa-envelope"></i><span>email friend</span></button><button type="button"><i class="fas fa-share-alt"></i></button></div>
                <div class="page-product__gallery">
                  <div data-uk-slideshow="min-height: 300; max-height: 430">
                    <ul class="uk-slideshow-items uk-child-width-1-1">
                      <li><img class="uk-width-1-1" src="{% static 'img/img-gallery-1-big.jpg' %}" alt="img-gallery" data-uk-cover></li>
                      <li><img class="uk-width-1-1" src="{% static 'img/img-gallery-2-big.jpg' %}" alt="img-gallery" data-uk-cover></li>
                      <li><img class="uk-width-1-1" src="{% static 'img/img-gallery-3-big.jpg' %}" alt="img-gallery" data-uk-cover></li>
                      <li><img class="uk-width-1-1" src="{% static 'img/img-gallery-4-big.jpg' %}" alt="img-gallery" data-uk-cover></li>
                      <li><img class="uk-width-1-1" src="{% static 'img/img-gallery-5-big.jpg' %}" alt="img-gallery" data-uk-cover></li>
                    </ul>
                    <div class="uk-margin-top" data-uk-slider>
                      <ul class="uk-thumbnav uk-slider-items uk-grid uk-grid-small uk-child-width-1-3 uk-child-width-1-4@m uk-child-width-1-5@l">
                        <li data-uk-slideshow-item="0"><a href="#"><img src="{% static 'img/img-gallery-1.jpg' %}" alt="img-gallery"></a></li>
                        <li data-uk-slideshow-item="1"><a href="#"><img src="{% static 'img/img-gallery-2.jpg' %}" alt="img-gallery"></a></li>
                        <li data-uk-slideshow-item="2"><a href="#"><img src="{% static 'img/img-gallery-3.jpg' %}" alt="img-gallery"></a></li>
                        <li data-uk-slideshow-item="3"><a href="#"><img src="{% static 'img/img-gallery-4.jpg' %}" alt="img-gallery"></a></li>
                        <li data-uk-slideshow-item="4"><a href="#"><img src="{% static 'img/img-gallery-5.jpg' %}" alt="img-gallery"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="page-product__list-info">
                  <div class="product-list-info">
                    <div>
                      <div class="product-list-info-item"><img class="product-list-info-item__img" src="{% static 'img/icons/list-info-1.png' %}" alt="icon-list-info">
                        <div class="product-list-info-item__title">Model year</div>
                        <div class="product-list-info-item__value">2021</div>
                      </div>
                    </div>
                    <div>
                      <div class="product-list-info-item"><img class="product-list-info-item__img" src="{% static 'img/icons/list-info-2.png' %}" alt="icon-list-info">
                        <div class="product-list-info-item__title">Category</div>
                        <div class="product-list-info-item__value">Sports</div>
                      </div>
                    </div>
                    <div>
                      <div class="product-list-info-item"><img class="product-list-info-item__img" src="{% static 'img/icons/list-info-3.png' %}" alt="icon-list-info">
                        <div class="product-list-info-item__title">Make</div>
                        <div class="product-list-info-item__value">BMW</div>
                      </div>
                    </div>
                    <div>
                      <div class="product-list-info-item"><img class="product-list-info-item__img" src="{% static 'img/icons/list-info-4.png' %}" alt="icon-list-info">
                        <div class="product-list-info-item__title">Engine Power</div>
                        <div class="product-list-info-item__value">205 hp</div>
                      </div>
                    </div>
                    <div>
                      <div class="product-list-info-item"><img class="product-list-info-item__img" src="{% static 'img/icons/list-info-5.png' %}" alt="icon-list-info">
                        <div class="product-list-info-item__title">Top Speed</div>
                        <div class="product-list-info-item__value">125+ mph</div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="uk-margin-medium">
                <h2>Motorcycle Overview</h2>
                <p>Dolore magna aliqua quis nostrud exercitation ullamco laboris nisi ut aliquip ex consequat. Duis aute irure dolor in reprehenderit in voluptate velits esd se cilum dol sed ipsum nulla pariatur nostrul done elit magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolor magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <p>Allamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderits voluptaty velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatate.</p>
                <hr class="uk-margin-medium">
                <h2>Technical Specifications</h2>
                <div class="page-product__specifications">
                  <ul class="product-specifications">
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-7.png' %}" alt="color"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Color</div>
                        <div class="product-specifications-item__value">Black \ Red </div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-4.png' %}" alt="Bore/Stroke"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Bore/Stroke</div>
                        <div class="product-specifications-item__value">80mm / 49.7mm</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-6.png' %}" alt="Category"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Category</div>
                        <div class="product-specifications-item__value">Super Sports</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-8.png' %}" alt="Top Speed"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Top Speed</div>
                        <div class="product-specifications-item__value">Over 125 mph</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-9.png' %}" alt="Fuel Economy"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Fuel Economy</div>
                        <div class="product-specifications-item__value">37 mpg (WMTC)</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-13.png' %}" alt="Fuel Type"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Fuel Type</div>
                        <div class="product-specifications-item__value">Premium Unleaded</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-1.png' %}" alt="Engine type"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Engine type</div>
                        <div class="product-specifications-item__value">4-Stroke in-line 4-Cylinder ...</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-2.png' %}" alt="Engine Power / Torque"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Engine Power / Torque</div>
                        <div class="product-specifications-item__value">205hp (151 kW) / 83 lb-ft ...</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-3.png' %}" alt="Displacement"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Displacement</div>
                        <div class="product-specifications-item__value">999 cc</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-10.png' %}" alt="Elecrtic Alternator"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Elecrtic Alternator</div>
                        <div class="product-specifications-item__value">Full Three-Phase 450 W ...</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-11.png' %}" alt="Payload Capacity"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Payload Capacity</div>
                        <div class="product-specifications-item__value">463 lbs (210 kg)</div>
                      </div>
                    </li>
                    <li class="product-specifications-item">
                      <div class="product-specifications-item__icon"><img src="{% static 'img/icons/specifications-12.png' %}" alt="Battery"></div>
                      <div class="product-specifications-item__desc">
                        <div class="product-specifications-item__title">Battery</div>
                        <div class="product-specifications-item__value">12 V / 8 Ah</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <hr class="uk-margin-medium">
                <h2>Additional Options & Features</h2>
                <p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntu labore dolor magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Allamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderits voluptaty velit esse cillum.</p>
                <ul class="list-check uk-column-1-2@m">
                  <li>Designed for the pole position</li>
                  <li>Power to turn signals, brake lights</li>
                  <li>With the M carbon wheels with a 0.5 disc</li>
                  <li>Pioneer superbikes: the 6.5" TFT display</li>
                  <li>RR is your perfect partner in performance</li>
                  <li>Always ready for the racing track</li>
                  <li>For lights all integrated into one unit</li>
                  <li>Wheels with a 1.0 mm thicker brakes</li>
                  <li>For better rides reliable partner</li>
                  <li>Maximum support energy-saving ergonomics</li>
                </ul>
              </div>
              <div class="uk-width-1-3@m">
                <div class="product-block-info">
                  <div class="product-block-info__logos"><img src="{% static 'img/user-logo-1.png' %}" alt="user-logo"><img src="{% static 'img/user-logo-2.png' %}" alt="user-logo"></div>
                  <div class="product-block-info__user user">
                    <div class="user__avatar"><img src="{% static 'img/user-avatar.png' %}" alt="Joesph Hill"></div>
                    <div class="user__desc">
                      <div class="user__name">Joesph Hill</div>
                      <div class="user__date">Member Since April 2013</div>
                      <div class="user__social">
                        <ul class="social-list">
                          <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                          <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                          <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                          <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-block-info__email block-icon">
                    <div class="block-icon__icon"><img src="{% static 'img/icons/comment.svg' %}" alt="comment"></div>
                    <div class="block-icon__desc">
                      <div class="block-icon__title">Contact Via Email</div>
                      <div class="block-icon__value"><a href="mailto:joseph.hill@domain.com">joseph.hill@domain.com</a></div>
                    </div>
                  </div>
                  <div class="product-block-info__phone block-icon">
                    <div class="block-icon__icon"><img src="{% static 'img/icons/smartphone.svg' %}" alt="smartphone"></div>
                    <div class="block-icon__desc">
                      <div class="block-icon__title">Contact Via Mob</div>
                      <div class="block-icon__value"><a href="tel:12584037960">+1 (258) 403 7960</a></div>
                    </div>
                  </div>
                </div>
                <aside class="sidebar">
                  <div class="widjet widjet--form">
                    <div class="widjet__title">
                      <div class="uk-h4">Send a message</div><span>get in touch via message</span>
                    </div>
                    <div class="widjet__content">
                      <form action="#!">
                        <div class="uk-margin-small"><input class="uk-input uk-form-large" type="text" placeholder="Your Name"></div>
                        <div class="uk-margin-small"><input class="uk-input uk-form-large" type="text" placeholder="Email"></div>
                        <div class="uk-margin-small"><input class="uk-input uk-form-large" type="text" placeholder="Phone (Optional)"></div>
                        <div class="uk-margin-small"><textarea class="uk-textarea uk-form-large" placeholder="Message"></textarea></div>
                        <div class="uk-margin-small uk-text-center"><button class="uk-button uk-button-danger uk-button-large" type="submit">Send message</button></div>
                      </form>
                    </div>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="related-products">
        <div class="uk-section uk-container">
          <div class="uk-h2 uk-margin-medium-bottom">You May Also Like...</div>
          <div class="uk-grid uk-child-width-1-3@m" data-uk-grid>
            <div>
              <div class="product-item uk-transition-toggle">
                <div class="product-item__head">
                  <div>
                    <div class="product-item__name"> <a href="page-shop-product-1.html">DUCATI HYPER 950</a></div>
                    <div class="product-item__manufacturer">Powered by Ducati</div>
                  </div>
                  <div>
                    <div class="product-item__price">$4,500</div>
                  </div>
                </div>
                <div class="product-item__media uk-inline-clip uk-inline"><img src="{% static 'img/product-4.jpg' %}" alt="DUCATI HYPER 950" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                    <div class="uk-overlay-cover uk-overlay-primary"></div>
                     <div class="uk-position-center"><span class="icon-cross"></span></div>
                  </a><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button></div>
                <div class="product-item__info">
                  <ul class="list-info">
                    <li class="list-info-item">
                      <div class="list-info-item__title">Year</div>
                      <div class="list-info-item__value">2021</div>
                    </li>
                    <li class="list-info-item">
                      <div class="list-info-item__title">Type</div>
                      <div class="list-info-item__value">Sports</div>
                    </li>
                    <li class="list-info-item">
                      <div class="list-info-item__title">Make</div>
                      <div class="list-info-item__value">Ducati</div>
                    </li>
                  </ul>
                </div>
                <div class="product-item__specifications">
                  <ul class="specifications-list">
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-1.png' %}" alt="Engine type" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Engine type</div>
                        <div class="specifications-list-item__value">Desmosedici 90 V4</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-2.png' %}" alt="Engine Power" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Engine Power</div>
                        <div class="specifications-list-item__value">208hp (153 kW)</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-3.png' %}" alt="Displacement" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Displacement</div>
                        <div class="specifications-list-item__value">1,103 cc</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-4.png' %}" alt="Bore/Stroke" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Bore/Stroke</div>
                        <div class="specifications-list-item__value">80mm / 49.7mm</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div class="product-item uk-transition-toggle">
                <div class="product-item__head">
                  <div>
                    <div class="product-item__name"> <a href="page-shop-product-1.html">KAWASAKI VULCAN</a></div>
                    <div class="product-item__manufacturer">Powered by Kawasaki</div>
                  </div>
                  <div>
                    <div class="product-item__price">$6,200</div>
                  </div>
                </div>
                <div class="product-item__media uk-inline-clip uk-inline"><img src="{% static 'img/product-5.jpg' %}" alt="KAWASAKI VULCAN" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                    <div class="uk-overlay-cover uk-overlay-primary"></div>
                     <div class="uk-position-center"><span class="icon-cross"></span></div>
                  </a><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button></div>
                <div class="product-item__info">
                  <ul class="list-info">
                    <li class="list-info-item">
                      <div class="list-info-item__title">Year</div>
                      <div class="list-info-item__value">2021</div>
                    </li>
                    <li class="list-info-item">
                      <div class="list-info-item__title">Type</div>
                      <div class="list-info-item__value">Sports</div>
                    </li>
                    <li class="list-info-item">
                      <div class="list-info-item__title">Make</div>
                      <div class="list-info-item__value">Kawasaki</div>
                    </li>
                  </ul>
                </div>
                <div class="product-item__specifications">
                  <ul class="specifications-list">
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-1.png' %}" alt="Engine type" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Engine type</div>
                        <div class="specifications-list-item__value">4-Stroke Cylinder</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-2.png' %}" alt="Engine Power" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Engine Power</div>
                        <div class="specifications-list-item__value">190hp (137 kW)</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-3.png' %}" alt="Displacement" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Displacement</div>
                        <div class="specifications-list-item__value">537 cc</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-4.png' %}" alt="Bore/Stroke" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Bore/Stroke</div>
                        <div class="specifications-list-item__value">80mm / 49.7mm</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div class="product-item uk-transition-toggle">
                <div class="product-item__head">
                  <div>
                    <div class="product-item__name"> <a href="page-shop-product-1.html">HONDA CB500X ABS</a></div>
                    <div class="product-item__manufacturer">Powered by Honda</div>
                  </div>
                  <div>
                    <div class="product-item__price">$4,500</div>
                  </div>
                </div>
                <div class="product-item__media uk-inline-clip uk-inline"><img src="{% static 'img/product-6.jpg' %}" alt="HONDA CB500X ABS" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                    <div class="uk-overlay-cover uk-overlay-primary"></div>
                     <div class="uk-position-center"><span class="icon-cross"></span></div>
                  </a><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button></div>
                <div class="product-item__info">
                  <ul class="list-info">
                    <li class="list-info-item">
                      <div class="list-info-item__title">Year</div>
                      <div class="list-info-item__value">2021</div>
                    </li>
                    <li class="list-info-item">
                      <div class="list-info-item__title">Type</div>
                      <div class="list-info-item__value">Adventure</div>
                    </li>
                    <li class="list-info-item">
                      <div class="list-info-item__title">Make</div>
                      <div class="list-info-item__value">Honda</div>
                    </li>
                  </ul>
                </div>
                <div class="product-item__specifications">
                  <ul class="specifications-list">
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-1.png' %}" alt="Engine type" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Engine type</div>
                        <div class="specifications-list-item__value">4-Stroke Cylinder</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-2.png' %}" alt="Engine Power" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Engine Power</div>
                        <div class="specifications-list-item__value">205hp (151 kW)</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-3.png' %}" alt="Displacement" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Displacement</div>
                        <div class="specifications-list-item__value">999 cc</div>
                      </div>
                    </li>
                    <li class="specifications-list-item">
                      <div class="specifications-list-item__icon"><img src="{% static 'img/icons/specifications-4.png' %}" alt="Bore/Stroke" /></div>
                      <div class="specifications-list-item__desc">
                        <div class="specifications-list-item__title">Bore/Stroke</div>
                        <div class="specifications-list-item__value">80mm / 49.7mm</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="section-subscribe">
      <div class="uk-container">
        <div class="subscribe-box">
          <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
            <div>
              <div class="section-title"><span>Latest news and deals directly to your inbox</span>
                <div class="uk-h2">Subscribe for updated</div>
              </div>
            </div>
            <div>
              <div class="subscribe-box__form">
                <form action="#!">
                  <div class="uk-flex uk-flex-middle"><input class="uk-input" type="email" name="email" placeholder="Email Address ...."><button class="uk-button uk-button-danger" type="submit">Subscribe</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  {% endblock %}