<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>News - Grid view</title>
  <meta content="Templines" name="author">
  <meta content="Atishay" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/uikit.min.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/slick-theme.css">
  <link rel="stylesheet" href="assets/css/ion.rangeSlider.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page-blog">

    
  <div class="page-wrapper">
    <header class="page-header page-header-transparent">
      <div class="page-header__inner">
        <div class="page-header__left">
          <div class="logo"><a class="logo__link" href="index.html">
              <div class="logo__icon"><img src="assets/img/logo.svg" alt="Atishay"></div>
              <div class="logo__text">ATISHAY</div>
            </a></div>
        </div>
        <div class="page-header__center">
          <nav class="page-nav" data-uk-navbar>
            <ul class="uk-navbar-nav">
              <li><a href="#">Home</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="index.html">Home 1</a></li>
                    <li><a href="page-home-2.html">Home 2</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="typography.html">About Us</a></li>
              <li><a href="#">Moto Pages</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="page-shop-grid.html">Page  grid</a></li>
                    <li><a href="page-shop-list.html">Page  list</a></li>
                    <li><a href="page-shop-product-1.html">Page Single 1</a></li>
                    <li><a href="page-shop-product-2.html">Page Single 2</a></li>
                  </ul>
                </div>
              </li>
       
              <li><a href="#">Our News</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="page-blog-grid.html">Page Blog grid</a></li>
                    <li><a href="page-blog-list.html">Page Blog list</a></li>
                    <li><a href="page-blog-article.html">Page Blog article</a></li>
                  </ul>
                </div>
              </li>
              
              <li><a href="page-contacts.html">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="page-header__right"><a class="uk-navbar-toggle search-btn" href="#modal-search" data-uk-search-icon data-uk-toggle></a><a class="uk-navbar-toggle cart-btn" href="#!">
            <div class="cart-btn__icon uk-icon" data-uk-icon="cart"><span class="cart-btn__count">2</span></div>
          </a><a class="uk-navbar-toggle menu-btn" href="#offcanvas" data-uk-toggle><img src="assets/img/icons/menu.svg" alt="menu"></a></div>
      </div>
    </header>
    <main class="page-main">
      <div class="section-hero">
        <div class="section-hero__bg" style="background-image: url(assets/img/img-home-slideshow.jpg)">
          <div class="uk-container">
            <div class="section-hero__content">
              <div class="section-hero__title"> <span>Taking rides to a new level</span>
                <div class="uk-h1">News - Grid view</div>
              </div>
              <div class="section-hero__breadcrumb">
                <ul class="uk-breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><span>Latest News</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content">
        <div class="uk-section-large uk-container">
          <div class="uk-grid uk-child-width-1-3@m uk-child-width-1-2@s" data-uk-grid>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-1.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-1.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-2.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-2.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-3.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-3.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-4.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-1.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-5.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-2.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-6.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-3.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-7.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-1.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-8.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-2.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div>
              <div class="news-card">
                <div class="news-card__media"><a href="page-blog-article.html"><img class="news-card__img" src="assets/img/news-thumd-9.jpg" alt="img" /></a><img class="news-card__avatar" src="assets/img/news-avatar-3.jpg" alt="avatar" /></div>
                <div class="news-card__intro">
                  <div class="news-card__info">
                    <div class="news-card__author">John Martin</div>
                    <div class="news-card__date">31 Aug 2021</div>
                  </div>
                  <div class="news-card__title"><a href="page-blog-article.html">Tips For Better & Safe Driving With MotorCycles</a></div>
                  <div class="news-card__desc">Dolore magna aliqua quis nostrud exercitation consequat. Duis aute irure do lorin reprehendert sed ipsum nulla pariatur ...</div>
                  <div class="news-card__more"><a href="page-blog-article.html">Read more</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-margin-large-top uk-text-center">
            <ul class="uk-pagination uk-flex-center">
              <li><a href="#"><span data-uk-pagination-previous></span></a></li>
              <li class="uk-active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><span data-uk-pagination-next></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <div class="section-subscribe">
      <div class="uk-container">
        <div class="subscribe-box">
          <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
            <div>
              <div class="section-title"><span>Latest news and deals directly to your inbox</span>
                <div class="uk-h2">Subscribe for updated</div>
              </div>
            </div>
            <div>
              <div class="subscribe-box__form">
                <form action="#!">
                  <div class="uk-flex uk-flex-middle"><input class="uk-input" type="email" name="email" placeholder="Email Address ...."><button class="uk-button uk-button-danger" type="submit">Subscribe</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="page-footer__top">
        <div class="uk-container">
          <div class="uk-grid uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@s" data-uk-grid>
            <div>
              <div class="uk-margin-medium">
                <div class="logo"><a class="logo__link" href="index.html">
                    <div class="logo__icon"><img src="assets/img/logo.svg" alt="Atishay"></div>
                    <div class="logo__text">ATISHAY</div>
                  </a></div>
              </div>
              <div class="uk-margin-medium">
                <p>Dolore magna aliq quis nostrud ulamco laboris nisi ut aliquip exa comads conseq asuis aute irure dolor reprehenderit.</p>
              </div>
              <div class="uk-margin-medium">
                <div class="support"><a class="support__link" href="tel:13004905008">
                    <div class="support__icon"><i class="fas fa-headset"></i></div>
                    <div class="support__desc">
                      <div class="support__label">Talk with our support</div>
                      <div class="support__phone">+1 (300) 490 5008</div>
                    </div>
                  </a></div>
              </div>
              <div class="uk-margin-medium">
                <div class="social">
                  <ul class="social-list">
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-youtube"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-pinterest-p"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div class="page-footer__column page-footer__menu">
                <div class="uk-h4">About Atishay</div>
                <ul class="list-decor">
                  <li> <a href="typography.html">Our Company</a></li>
                  <li> <a href="typography.html">Renting Facility</a></li>
                  <li> <a href="typography.html">Atishay Inventory</a></li>
                  <li> <a href="typography.html">Our Services</a></li>
                  <li> <a href="typography.html">Clients Testimonials</a></li>
                  <li> <a href="typography.html">Mission & Vision</a></li>
                  <li> <a href="page-contacts.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div>
              <div class="page-footer__column page-footer__news">
                <div class="uk-h4">Latest News</div>
                <ul class="latest-news-list">
                  <li>
                    <div class="latest-news-item">
                      <div class="latest-news-item__thumb"><img src="assets/img/news-thumb-1.jpg" alt="news-thumb"></div>
                      <div class="latest-news-item__info"><a class="latest-news-item__title" href="page-blog-article.html">We Allow Each Rider To Customize Their Rides.</a>
                        <div class="latest-news-item__date">August 25, 2021</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="latest-news-item">
                      <div class="latest-news-item__thumb"><img src="assets/img/news-thumb-2.jpg" alt="news-thumb"></div>
                      <div class="latest-news-item__info"><a class="latest-news-item__title" href="page-blog-article.html">Motorcycles Which Feels Just Right Like Ease.</a>
                        <div class="latest-news-item__date">August 25, 2021</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="latest-news-item">
                      <div class="latest-news-item__thumb"><img src="assets/img/news-thumb-3.jpg" alt="news-thumb"></div>
                      <div class="latest-news-item__info"><a class="latest-news-item__title" href="page-blog-article.html">Gaze Upon Unbelievably Exciting To Futuristic.</a>
                        <div class="latest-news-item__date">August 25, 2021</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="page-footer__column page-footer__info">
                <div class="uk-h4">Dealer Information</div>
                <ul class="info-list">
                  <li>
                    <div class="info-list-item">
                      <div class="info-list-item__title">Sales Hours</div>
                      <div class="info-list-item__value">Monday - Friday: <br> 09:00 am to 06:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="info-list-item">
                      <div class="info-list-item__title">Service Hours</div>
                      <div class="info-list-item__value">Monday - Friday: <br> 09:00 am to 06:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="info-list-item">
                      <div class="info-list-item__title">Parts Shop Hours</div>
                      <div class="info-list-item__value">Monday - Friday: <br> 09:00 am to 06:00 pm</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-footer__bottom">
        <div class="uk-container">
          <div class="uk-text-center">(c) 2021 ATISHAY - Motorcycles Dealer Template. All rights reserved.</div>
        </div>
      </div>
      <div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true; mode: push">
        <div class="uk-offcanvas-bar"><button class="uk-offcanvas-close" type="button" data-uk-close=""></button>
          <div class="uk-margin">
            <div class="logo"><a class="logo__link" href="index.html">
                <div class="logo__icon"><img src="assets/img/logo.svg" alt="Atishay"></div>
                <div class="logo__text">ATISHAY</div>
              </a></div>
          </div>
          <div class="uk-margin">
              
              
            <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
              <li class="uk-parent"><a href="#">Home</a>
                <ul class="uk-nav-sub">
                  <li><a href="index.html">Home 1</a></li>
                    <li><a href="page-home-2.html">Home 2</a></li>
                </ul>
              </li>
              <li><a href="typography.html">About</a></li>
              <li class="uk-parent"><a href="#">News</a>
                <ul class="uk-nav-sub">
                  <li><a href="page-blog-grid.html">Page Blog grid</a></li>
                  <li><a href="page-blog-list.html">Page Blog list</a></li>
                  <li><a href="page-blog-article.html">Page Blog article</a></li>
                </ul>
              </li>
              <li class="uk-parent"><a href="#">Moto Pages</a>
                <ul class="uk-nav-sub">
                  <li><a href="page-shop-grid.html">Page grid</a></li>
                  <li><a href="page-shop-list.html">Page list</a></li>
                  <li><a href="page-shop-product-1.html">Page Single 1</a></li>
                  <li><a href="page-shop-product-2.html">Page Singless 2</a></li>
                </ul>
              </li>
              <li><a href="page-contacts.html">Contact</a></li>
            </ul>
          </div>
          <div class="uk-margin-auto-top">
            <div class="support"><a class="support__link" href="tel:13004905008">
                <div class="support__icon"><i class="fas fa-headset"></i></div>
                <div class="support__desc">
                  <div class="support__label">Talk with our support</div>
                  <div class="support__phone">+1 (300) 490 5008</div>
                </div>
              </a></div>
          </div>
        </div>
      </div>
      <div class="uk-modal-full uk-modal" id="modal-search" data-uk-modal>
        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport><button class="uk-modal-close-full" type="button" data-uk-close></button>
          <form class="uk-search uk-search-large"><input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus></form>
        </div>
      </div><!-- End Дополнительные блоки-->
    </footer>
      
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/uikit.min.js"></script>
  <script src="assets/js/uikit-icons.min.js"></script>
  <script src="assets/js/fontawesome.all.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/ion.rangeSlider.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>