{%  extends 'base.html' %}
{% load static %}

{% block content %}
    
    <main class="page-main">
      <div class="section-hero">
        <div class="section-hero__bg" style="background-image: url({% static 'img/bg/contacts.jpg' %})">
          <div class="uk-container">
            <div class="section-hero__content">
              <div class="section-hero__title"> <span>Taking rides to a newer level</span>
                <div class="uk-h1">Contact us</div>
              </div>
              <div class="section-hero__breadcrumb">
                <ul class="uk-breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><span>Contact us</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-map"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.515310719304!2d-75.04652368429473!3d39.54798681593648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c72c312084a583%3A0xede8aadeaa53ed5f!2zNDIyNyBMYWtlIFJkLCBOZXdmaWVsZCwgTkogMDgzNDQsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1608717865402!5m2!1sru!2sua"></iframe></div>
      <div class="page-content">
        <div class="uk-section-large uk-container">
          <div class="contact-info">
            <div class="contact-info-title">get in touch with us for buying or selling motorcycles. Also you can<br> take a test drive latest models from almost all brands. </div>
            <div class="uk-grid uk-grid-divider uk-child-width-1-4@m uk-child-width-1-2@s" data-uk-grid>
              <div>
                <div class="contact-info-item">
                  <div class="contact-info-item__icon"><img src="{% static 'img/icons/contact-icon-1.png' %}" alt="contact-icon"></div>
                  <div class="contact-info-item__title">Schedule A Ride</div>
                  <div class="contact-info-item__value"> <a href="tel:17108796054">+1 (710) 879 6054</a></div>
                  <div class="contact-info-item__title">Buying or Selling</div>
                  <div class="contact-info-item__value"> <a href="tel:08004564040">0 (800) 456 4040</a></div>
                </div>
              </div>
              <div>
                <div class="contact-info-item">
                  <div class="contact-info-item__icon"><img src="{% static 'img/icons/contact-icon-2.png' %}" alt="contact-icon"></div>
                  <div class="contact-info-item__title">Operating Hours</div>
                  <div class="contact-info-item__value">Mon - Fri 9.30am - 8pm</div>
                  <div class="contact-info-item__title">Operating Hours</div>
                  <div class="contact-info-item__value">Sat - Sun 10am - 7pm</div>
                </div>
              </div>
              <div>
                <div class="contact-info-item">
                  <div class="contact-info-item__icon"><img src="{% static 'img/icons/contact-icon-3.png' %}" alt="contact-icon"></div>
                  <div class="contact-info-item__title">Reach us by email</div>
                  <div class="contact-info-item__value"> <a href="mailto:dealers@keymoto.com">dealers@keymoto.com</a></div>
                  <div class="contact-info-item__title">Customer Service</div>
                  <div class="contact-info-item__value"> <a href="mailto:m.cycle@domain.com">m.cycle@domain.com</a></div>
                </div>
              </div>
              <div>
                <div class="contact-info-item">
                  <div class="contact-info-item__icon"><img src="{% static 'img/icons/contact-icon-4.png' %}" alt="contact-icon"></div>
                  <div class="contact-info-item__title">Showroom Address</div>
                  <div class="contact-info-item__value">4227 Lake Road, Surf<br> City, New Jersey<br> 36026 - USA</div>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-form">
            <div class="section-title uk-text-center"><img src="{% static 'img/logo-dark.svg' %}" alt=""><span>Taking rides to a newer level</span>
              <h3 class="uk-h2">send a message</h3>
            </div>
            <div class="section-content">
              <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="uk-grid uk-grid-small uk-child-width-1-3@s" data-uk-grid>
                  <div><input class="uk-input uk-form-large" name="name" type="text" placeholder="Your Name"></div>
                  <div><input class="uk-input uk-form-large" name="mobile_no" type="tel" placeholder="Mobile Number"></div>
                  <div><input class="uk-input uk-form-large" name="subject"  type="text" placeholder="Subject"></div>
                  <div class="uk-width-1-1"><textarea class="uk-textarea uk-form-large" name="message" placeholder="Message"></textarea></div>
                  <div class="uk-margin-medium-top uk-width-1-1 uk-text-center">
                    <button class="uk-button uk-button-danger uk-button-large" type="submit">Send message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="section-subscribe">
      <div class="uk-container">
        <div class="subscribe-box">
          <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
            <div>
              <div class="section-title"><span>Latest news and deals directly to your inbox</span>
                <div class="uk-h2">Subscribe for updated</div>
              </div>
            </div>
            <div>
              <div class="subscribe-box__form">
                <form action="#!">
                  <div class="uk-flex uk-flex-middle"><input class="uk-input" type="email" name="email" placeholder="Email Address ...."><button class="uk-button uk-button-danger" type="submit">Subscribe</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
{% endblock %}