<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Shop - List view</title>
  <meta content="Templines" name="author">
  <meta content="Atishay" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/uikit.min.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/slick-theme.css">
  <link rel="stylesheet" href="assets/css/ion.rangeSlider.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page-shop">

    
  <div class="page-wrapper">
    <header class="page-header page-header-transparent">
      <div class="page-header__inner">
        <div class="page-header__left">
          <div class="logo"><a class="logo__link" href="index.html">
              <div class="logo__icon"><img src="assets/img/logo.svg" alt="Atishay"></div>
              <div class="logo__text">ATISHAY</div>
            </a></div>
        </div>
        <div class="page-header__center">
          <nav class="page-nav" data-uk-navbar>
            <ul class="uk-navbar-nav">
              <li><a href="#">Home</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="index.html">Home 1</a></li>
                    <li><a href="page-home-2.html">Home 2</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="typography.html">About Us</a></li>
              <li><a href="#">Moto Pages</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="page-shop-grid.html">Page  grid</a></li>
                    <li><a href="page-shop-list.html">Page  list</a></li>
                    <li><a href="page-shop-product-1.html">Page Single 1</a></li>
                    <li><a href="page-shop-product-2.html">Page Single 2</a></li>
                  </ul>
                </div>
              </li>
       
              <li><a href="#">Our News</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="page-blog-grid.html">Page Blog grid</a></li>
                    <li><a href="page-blog-list.html">Page Blog list</a></li>
                    <li><a href="page-blog-article.html">Page Blog article</a></li>
                  </ul>
                </div>
              </li>
              
              <li><a href="page-contacts.html">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="page-header__right"><a class="uk-navbar-toggle search-btn" href="#modal-search" data-uk-search-icon data-uk-toggle></a><a class="uk-navbar-toggle cart-btn" href="#!">
            <div class="cart-btn__icon uk-icon" data-uk-icon="cart"><span class="cart-btn__count">2</span></div>
          </a><a class="uk-navbar-toggle menu-btn" href="#offcanvas" data-uk-toggle><img src="assets/img/icons/menu.svg" alt="menu"></a></div>
      </div>
    </header>
    <main class="page-main">
      <div class="section-hero">
        <div class="section-hero__bg" style="background-image: url(assets/img/bg/shop.jpg)">
          <div class="uk-container">
            <div class="section-hero__content">
              <div class="section-hero__title"> <span>Taking rides to a newer level</span>
                <div class="uk-h1">Inventory</div>
              </div>
              <div class="section-hero__breadcrumb">
                <ul class="uk-breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><span>Inventory</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content">
        <div class="uk-section-large uk-container">
          <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-3@m">
              <div class="js-filter-more filter-more">
                <div class="filter-more__desc">
                  <div class="uk-h4">Search options</div><span>Find your motorcycle</span>
                </div>
                <div class="filter-more__icon"><img src="assets/img/logo.svg" alt="logo"></div>
              </div>
              <aside class="sidebar js-filter-content">
                <div class="widjet widjet--filters">
                  <div class="widjet__content">
                    <div class="uk-grid uk-grid-small uk-child-width-1-2" data-uk-grid>
                      <div class="uk-width-1-1"><select class="uk-select uk-form-large" name="make">
                          <option value="">Select Make</option>
                          <option value="option-1">option-1</option>
                          <option value="option-2">option-2</option>
                        </select></div>
                      <div class="uk-width-1-1"><select class="uk-select uk-form-large" name="model">
                          <option value="">Select Model</option>
                          <option value="option-1">option-1</option>
                          <option value="option-2">option-2</option>
                        </select></div>
                      <div class="uk-width-1-1"><select class="uk-select uk-form-large" name="type">
                          <option value="">Select type</option>
                          <option value="option-1">option-1</option>
                          <option value="option-2">option-2</option>
                        </select></div>
                      <div><select class="uk-select uk-form-large" name="min">
                          <option value="">Min CC</option>
                          <option value="option-1">option-1</option>
                          <option value="option-2">option-2</option>
                        </select></div>
                      <div><select class="uk-select uk-form-large" name="max">
                          <option value="">Max CC</option>
                          <option value="option-1">option-1</option>
                          <option value="option-2">option-2</option>
                        </select></div>
                    </div>
                  </div>
                </div>
                <div class="widjet widjet--price">
                  <div class="widjet__title">
                    <div class="uk-h4">Price range</div><span>Choose your price</span>
                  </div>
                  <div class="widjet__content">
                    <div class="range-box"><input class="js-range-slider" id="range-price" type="text" name="price" value="">
                      <div class="range-box__desc"> <span>KM Range Selected: $</span><input id="range-price-from" type="text"><span>-</span><input id="range-price-to" type="text"></div>
                    </div>
                  </div>
                </div>
                <div class="widjet widjet--mileage">
                  <div class="widjet__title">
                    <div class="uk-h4">mileage range</div><span>Choose required mileage</span>
                  </div>
                  <div class="widjet__content">
                    <div class="range-box"><input class="js-range-slider" id="range-mileage" type="text" name="mileage" value="">
                      <div class="range-box__desc"> <span>KM Range Selected: </span><input id="range-mileage-from" type="text"><span>- </span><input id="range-mileage-to" type="text"></div>
                    </div>
                  </div>
                </div>
                <div class="widjet">
                  <div class="widjet__content">
                    <div class="uk-text-center"><button class="uk-button uk-button-danger" type="button">Apply filter</button><br><a class="uk-text-meta uk-margin-top" href="#!">Clear All Filters</a></div>
                  </div>
                </div>
              </aside>
            </div>
            <div class="uk-width-2-3@m">
              <div class="sorting">
                <div class="sorting-left">
                  <div class="result-count">Your search returned <span>35</span> results.</div>
                </div>
                <div class="sorting-right"> <select class="uk-select" name="orderby">
                    <option value="popularity">Sort by popularity</option>
                    <option value="rating">Sort by average rating</option>
                    <option value="date" selected>Sort by newness</option>
                    <option value="price">Sort by price: low to high</option>
                    <option value="price-desc">Sort by price: high to low</option>
                  </select><button class="sorting-btn btn-list is-active" type="button"> <img src="assets/img/icons/list.svg" alt="list" data-uk-svg></button><button class="sorting-btn btn-grid" type="button"> <img src="assets/img/icons/grid.svg" alt="grid" data-uk-svg></button></div>
              </div>
              <div class="products-items uk-grid uk-child-width-1-2@s" data-uk-grid>
                <div>
                  <div class="product-item uk-transition-toggle">
                    <div class="product-item__head">
                      <div>
                        <div class="product-item__name"> <a href="page-shop-product-1.html">BMW S1000 RX</a></div>
                        <div class="product-item__manufacturer">Powered by BMW</div>
                        <div class="product-item__category">category: <a href="#!">Sports</a></div>
                      </div>
                      <div>
                        <div class="product-item__price">$4,500</div>
                      </div>
                    </div>
                    <div class="product-item__media uk-inline-clip uk-inline"><img src="assets/img/product-1.jpg" alt="BMW S1000 RX" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                        <div class="uk-overlay-cover uk-overlay-primary"></div>
                       <div class="uk-position-center"><span class="icon-cross"></span></div>
                      </a>
                      <div class="product-item__label">Featured</div><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button>
                    </div>
                    <div class="product-item__info">
                      <ul class="list-info">
                        <li class="list-info-item">
                          <div class="list-info-item__title">Year</div>
                          <div class="list-info-item__value">2021</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Type</div>
                          <div class="list-info-item__value">Sports</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Make</div>
                          <div class="list-info-item__value">BMW</div>
                        </li>
                      </ul>
                    </div>
                    <div class="product-item__specifications">
                      <ul class="specifications-list">
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-1.png" alt="Engine type" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine type</div>
                            <div class="specifications-list-item__value">4-Stroke Cylinder</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-2.png" alt="Engine Power" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine Power</div>
                            <div class="specifications-list-item__value">205hp (151 kW)</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-3.png" alt="Displacement" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Displacement</div>
                            <div class="specifications-list-item__value">999 cc</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-4.png" alt="Bore/Stroke" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Bore/Stroke</div>
                            <div class="specifications-list-item__value">80mm / 49.7mm</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item uk-transition-toggle">
                    <div class="product-item__head">
                      <div>
                        <div class="product-item__name"> <a href="page-shop-product-1.html">YAMAHA MT09</a></div>
                        <div class="product-item__manufacturer">Powered by Yamaha</div>
                        <div class="product-item__category">category: <a href="#!">supersport</a></div>
                      </div>
                      <div>
                        <div class="product-item__price">$4,500</div>
                      </div>
                    </div>
                    <div class="product-item__media uk-inline-clip uk-inline"><img src="assets/img/product-2.jpg" alt="YAMAHA MT09 BASE" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                        <div class="uk-overlay-cover uk-overlay-primary"></div>
                        <div class="uk-position-center"><span class="icon-cross"></span></div>
                      </a>
                      <div class="product-item__label">Featured</div><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button>
                    </div>
                    <div class="product-item__info">
                      <ul class="list-info">
                        <li class="list-info-item">
                          <div class="list-info-item__title">Year</div>
                          <div class="list-info-item__value">2021</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Type</div>
                          <div class="list-info-item__value">Sports</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Make</div>
                          <div class="list-info-item__value">Yamaha</div>
                        </li>
                      </ul>
                    </div>
                    <div class="product-item__specifications">
                      <ul class="specifications-list">
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-1.png" alt="Engine type" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine type</div>
                            <div class="specifications-list-item__value">Desmosedici 90 V4</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-2.png" alt="Engine Power" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine Power</div>
                            <div class="specifications-list-item__value">208hp (153 kW)</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-3.png" alt="Displacement" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Displacement</div>
                            <div class="specifications-list-item__value">1,103 cc</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-4.png" alt="Bore/Stroke" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Bore/Stroke</div>
                            <div class="specifications-list-item__value">80mm / 49.7mm</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item uk-transition-toggle">
                    <div class="product-item__head">
                      <div>
                        <div class="product-item__name"> <a href="page-shop-product-1.html">KTM RC 390</a></div>
                        <div class="product-item__manufacturer">Powered by KTM</div>
                        <div class="product-item__category">category: <a href="#!">MT 09</a></div>
                      </div>
                      <div>
                        <div class="product-item__price">$6,200</div>
                      </div>
                    </div>
                    <div class="product-item__media uk-inline-clip uk-inline"><img src="assets/img/product-3.jpg" alt="KTM RC 390 BASE" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                        <div class="uk-overlay-cover uk-overlay-primary"></div>
                        <div class="uk-position-center"><span class="icon-cross"></span></div>
                      </a><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button></div>
                    <div class="product-item__info">
                      <ul class="list-info">
                        <li class="list-info-item">
                          <div class="list-info-item__title">Year</div>
                          <div class="list-info-item__value">2021</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Type</div>
                          <div class="list-info-item__value">Adventure</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Make</div>
                          <div class="list-info-item__value">KTM</div>
                        </li>
                        
                      </ul>
                    </div>
                    <div class="product-item__specifications">
                      <ul class="specifications-list">
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-1.png" alt="Engine type" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine type</div>
                            <div class="specifications-list-item__value">4-Stroke Cylinder</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-2.png" alt="Engine Power" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine Power</div>
                            <div class="specifications-list-item__value">190hp (137 kW)</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-3.png" alt="Displacement" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Displacement</div>
                            <div class="specifications-list-item__value">537 cc</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-4.png" alt="Bore/Stroke" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Bore/Stroke</div>
                            <div class="specifications-list-item__value">80mm / 49.7mm</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item uk-transition-toggle">
                    <div class="product-item__head">
                      <div>
                        <div class="product-item__name"> <a href="page-shop-product-1.html">DUCATI HYPER</a></div>
                        <div class="product-item__manufacturer">Powered by Ducati</div>
                        <div class="product-item__category">category: <a href="#!">Sports</a></div>
                      </div>
                      <div>
                        <div class="product-item__price">$4,500</div>
                      </div>
                    </div>
                    <div class="product-item__media uk-inline-clip uk-inline"><img src="assets/img/product-4.jpg" alt="DUCATI HYPER 950" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                        <div class="uk-overlay-cover uk-overlay-primary"></div>
                        <div class="uk-position-center"><span class="icon-cross"></span></div>
                      </a>
                      <div class="product-item__label">Featured</div><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button>
                    </div>
                    <div class="product-item__info">
                      <ul class="list-info">
                        <li class="list-info-item">
                          <div class="list-info-item__title">Year</div>
                          <div class="list-info-item__value">2021</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Type</div>
                          <div class="list-info-item__value">Sports</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Make</div>
                          <div class="list-info-item__value">Ducati</div>
                        </li>
                      </ul>
                    </div>
                    <div class="product-item__specifications">
                      <ul class="specifications-list">
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-1.png" alt="Engine type" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine type</div>
                            <div class="specifications-list-item__value">Desmosedici 90 V4</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-2.png" alt="Engine Power" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine Power</div>
                            <div class="specifications-list-item__value">208hp (153 kW)</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-3.png" alt="Displacement" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Displacement</div>
                            <div class="specifications-list-item__value">1,103 cc</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-4.png" alt="Bore/Stroke" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Bore/Stroke</div>
                            <div class="specifications-list-item__value">80mm / 49.7mm</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item uk-transition-toggle">
                    <div class="product-item__head">
                      <div>
                        <div class="product-item__name"> <a href="page-shop-product-1.html">KAWASAKI VULCAN</a></div>
                        <div class="product-item__manufacturer">Powered by Kawasaki</div>
                        <div class="product-item__category">category: <a href="#!">Sports</a></div>
                      </div>
                      <div>
                        <div class="product-item__price">$6,200</div>
                      </div>
                    </div>
                    <div class="product-item__media uk-inline-clip uk-inline"><img src="assets/img/product-5.jpg" alt="KAWASAKI VULCAN" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                        <div class="uk-overlay-cover uk-overlay-primary"></div>
                        <div class="uk-position-center"><span class="icon-cross"></span></div>
                      </a><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button></div>
                    <div class="product-item__info">
                      <ul class="list-info">
                        <li class="list-info-item">
                          <div class="list-info-item__title">Year</div>
                          <div class="list-info-item__value">2021</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Type</div>
                          <div class="list-info-item__value">Sports</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Make</div>
                          <div class="list-info-item__value">Kawasaki</div>
                        </li>
                      </ul>
                    </div>
                    <div class="product-item__specifications">
                      <ul class="specifications-list">
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-1.png" alt="Engine type" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine type</div>
                            <div class="specifications-list-item__value">4-Stroke Cylinder</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-2.png" alt="Engine Power" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine Power</div>
                            <div class="specifications-list-item__value">190hp (137 kW)</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-3.png" alt="Displacement" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Displacement</div>
                            <div class="specifications-list-item__value">537 cc</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-4.png" alt="Bore/Stroke" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Bore/Stroke</div>
                            <div class="specifications-list-item__value">80mm / 49.7mm</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item uk-transition-toggle">
                    <div class="product-item__head">
                      <div>
                        <div class="product-item__name"> <a href="page-shop-product-1.html">HONDA CB500X</a></div>
                        <div class="product-item__manufacturer">Powered by Honda</div>
                        <div class="product-item__category">category: <a href="#!">Adventure</a></div>
                      </div>
                      <div>
                        <div class="product-item__price">$4,500</div>
                      </div>
                    </div>
                    <div class="product-item__media uk-inline-clip uk-inline"><img src="assets/img/product-6.jpg" alt="HONDA CB500X ABS" /><a class="uk-transition-fade" href="page-shop-product-1.html">
                        <div class="uk-overlay-cover uk-overlay-primary"></div>
                        <div class="uk-position-center"><span class="icon-cross"></span></div>
                      </a>
                      <div class="product-item__label">Featured</div><button class="product-item__whish btn-whish"><i class="far fa-heart"></i></button>
                    </div>
                    <div class="product-item__info">
                      <ul class="list-info">
                        <li class="list-info-item">
                          <div class="list-info-item__title">Year</div>
                          <div class="list-info-item__value">2021</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Type</div>
                          <div class="list-info-item__value">Adventure</div>
                        </li>
                        <li class="list-info-item">
                          <div class="list-info-item__title">Make</div>
                          <div class="list-info-item__value">Honda</div>
                        </li>
                      </ul>
                    </div>
                    <div class="product-item__specifications">
                      <ul class="specifications-list">
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-1.png" alt="Engine type" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine type</div>
                            <div class="specifications-list-item__value">4-Stroke Cylinder</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-2.png" alt="Engine Power" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Engine Power</div>
                            <div class="specifications-list-item__value">205hp (151 kW)</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-3.png" alt="Displacement" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Displacement</div>
                            <div class="specifications-list-item__value">999 cc</div>
                          </div>
                        </li>
                        <li class="specifications-list-item">
                          <div class="specifications-list-item__icon"><img src="assets/img/icons/specifications-4.png" alt="Bore/Stroke" /></div>
                          <div class="specifications-list-item__desc">
                            <div class="specifications-list-item__title">Bore/Stroke</div>
                            <div class="specifications-list-item__value">80mm / 49.7mm</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="uk-margin-large-top uk-text-center">
                <ul class="uk-pagination uk-flex-center">
                  <li><a href="#"><span data-uk-pagination-previous></span></a></li>
                  <li class="uk-active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#"><span data-uk-pagination-next></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="section-subscribe">
      <div class="uk-container">
        <div class="subscribe-box">
          <div class="uk-grid uk-flex-middle uk-child-width-1-2@m" data-uk-grid>
            <div>
              <div class="section-title"><span>Latest news and deals directly to your inbox</span>
                <div class="uk-h2">Subscribe for updated</div>
              </div>
            </div>
            <div>
              <div class="subscribe-box__form">
                <form action="#!">
                  <div class="uk-flex uk-flex-middle"><input class="uk-input" type="email" name="email" placeholder="Email Address ...."><button class="uk-button uk-button-danger" type="submit">Subscribe</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="page-footer__top">
        <div class="uk-container">
          <div class="uk-grid uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@s" data-uk-grid>
            <div>
              <div class="uk-margin-medium">
                <div class="logo"><a class="logo__link" href="index.html">
                    <div class="logo__icon"><img src="assets/img/logo.svg" alt="Atishay"></div>
                    <div class="logo__text">ATISHAY</div>
                  </a></div>
              </div>
              <div class="uk-margin-medium">
                <p>Dolore magna aliq quis nostrud ulamco laboris nisi ut aliquip exa comads conseq asuis aute irure dolor reprehenderit.</p>
              </div>
              <div class="uk-margin-medium">
                <div class="support"><a class="support__link" href="tel:13004905008">
                    <div class="support__icon"><i class="fas fa-headset"></i></div>
                    <div class="support__desc">
                      <div class="support__label">Talk with our support</div>
                      <div class="support__phone">+1 (300) 490 5008</div>
                    </div>
                  </a></div>
              </div>
              <div class="uk-margin-medium">
                <div class="social">
                  <ul class="social-list">
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-youtube"></i></a></li>
                    <li class="social-list__item"><a class="social-list__link" href="#!"><i class="fab fa-pinterest-p"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div class="page-footer__column page-footer__menu">
                <div class="uk-h4">About Atishay</div>
                <ul class="list-decor">
                  <li> <a href="typography.html">Our Company</a></li>
                  <li> <a href="typography.html">Renting Facility</a></li>
                  <li> <a href="typography.html">Atishay Inventory</a></li>
                  <li> <a href="typography.html">Our Services</a></li>
                  <li> <a href="typography.html">Clients Testimonials</a></li>
                  <li> <a href="typography.html">Mission & Vision</a></li>
                  <li> <a href="page-contacts.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div>
              <div class="page-footer__column page-footer__news">
                <div class="uk-h4">Latest News</div>
                <ul class="latest-news-list">
                  <li>
                    <div class="latest-news-item">
                      <div class="latest-news-item__thumb"><img src="assets/img/news-thumb-1.jpg" alt="news-thumb"></div>
                      <div class="latest-news-item__info"><a class="latest-news-item__title" href="page-blog-article.html">We Allow Each Rider To Customize Their Rides.</a>
                        <div class="latest-news-item__date">August 25, 2021</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="latest-news-item">
                      <div class="latest-news-item__thumb"><img src="assets/img/news-thumb-2.jpg" alt="news-thumb"></div>
                      <div class="latest-news-item__info"><a class="latest-news-item__title" href="page-blog-article.html">Motorcycles Which Feels Just Right Like Ease.</a>
                        <div class="latest-news-item__date">August 25, 2021</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="latest-news-item">
                      <div class="latest-news-item__thumb"><img src="assets/img/news-thumb-3.jpg" alt="news-thumb"></div>
                      <div class="latest-news-item__info"><a class="latest-news-item__title" href="page-blog-article.html">Gaze Upon Unbelievably Exciting To Futuristic.</a>
                        <div class="latest-news-item__date">August 25, 2021</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="page-footer__column page-footer__info">
                <div class="uk-h4">Dealer Information</div>
                <ul class="info-list">
                  <li>
                    <div class="info-list-item">
                      <div class="info-list-item__title">Sales Hours</div>
                      <div class="info-list-item__value">Monday - Friday: <br> 09:00 am to 06:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="info-list-item">
                      <div class="info-list-item__title">Service Hours</div>
                      <div class="info-list-item__value">Monday - Friday: <br> 09:00 am to 06:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="info-list-item">
                      <div class="info-list-item__title">Parts Shop Hours</div>
                      <div class="info-list-item__value">Monday - Friday: <br> 09:00 am to 06:00 pm</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-footer__bottom">
        <div class="uk-container">
          <div class="uk-text-center">(c) 2021 ATISHAY - Motorcycles Dealer Template. All rights reserved.</div>
        </div>
      </div>
      <div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true; mode: push">
        <div class="uk-offcanvas-bar"><button class="uk-offcanvas-close" type="button" data-uk-close=""></button>
          <div class="uk-margin">
            <div class="logo"><a class="logo__link" href="index.html">
                <div class="logo__icon"><img src="assets/img/logo.svg" alt="Atishay"></div>
                <div class="logo__text">ATISHAY</div>
              </a></div>
          </div>
          <div class="uk-margin">
              
              
            <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
              <li class="uk-parent"><a href="#">Home</a>
                <ul class="uk-nav-sub">
                  <li><a href="index.html">Home 1</a></li>
                    <li><a href="page-home-2.html">Home 2</a></li>
                </ul>
              </li>
              <li><a href="typography.html">About</a></li>
              <li class="uk-parent"><a href="#">News</a>
                <ul class="uk-nav-sub">
                  <li><a href="page-blog-grid.html">Page Blog grid</a></li>
                  <li><a href="page-blog-list.html">Page Blog list</a></li>
                  <li><a href="page-blog-article.html">Page Blog article</a></li>
                </ul>
              </li>
              <li class="uk-parent"><a href="#">Moto Pages</a>
                <ul class="uk-nav-sub">
                  <li><a href="page-shop-grid.html">Page grid</a></li>
                  <li><a href="page-shop-list.html">Page list</a></li>
                  <li><a href="page-shop-product-1.html">Page Single 1</a></li>
                  <li><a href="page-shop-product-2.html">Page Singless 2</a></li>
                </ul>
              </li>
              <li><a href="page-contacts.html">Contact</a></li>
            </ul>
          </div>
          <div class="uk-margin-auto-top">
            <div class="support"><a class="support__link" href="tel:13004905008">
                <div class="support__icon"><i class="fas fa-headset"></i></div>
                <div class="support__desc">
                  <div class="support__label">Talk with our support</div>
                  <div class="support__phone">+1 (300) 490 5008</div>
                </div>
              </a></div>
          </div>
        </div>
      </div>
      <div class="uk-modal-full uk-modal" id="modal-search" data-uk-modal>
        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport><button class="uk-modal-close-full" type="button" data-uk-close></button>
          <form class="uk-search uk-search-large"><input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus></form>
        </div>
      </div><!-- End Дополнительные блоки-->
    </footer>
      
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/uikit.min.js"></script>
  <script src="assets/js/uikit-icons.min.js"></script>
  <script src="assets/js/fontawesome.all.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/ion.rangeSlider.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>